body {
    /* colores */
    background-color: OldLace;
    color: #404040;

    /* texto */
    font-family: 'Oswald', serif;
}

article {
    /* distribución */
    columns: 3;
    column-gap: 40px;
    column-rule: solid #444;

    /* texto */
    font-size: 1em;
    line-height: 1.5em;
}

h1 {
    /* texto */
    font-size: 8em;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;

    /* distribución */
    margin-top: 0px;
    margin-bottom: 32px;
}

h2 {
    /* texto */
    font-size: 3em;
    line-height: 1em;
}

h3 {
    /* texto */
    font-size: 2.4em;
    line-height: 0.8em;
}

p {
    /* texto */
    text-align: justify;
    hyphens: auto;
}

blockquote {
    /* texto */
    line-height: 1.2em;
    font-size: 1.8em;

    /* distribución */
    margin: 0px;
    margin-left: 5px;
    padding: 0px;
}

.time {
    /* texto */
    font-size: 1.6em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    /* distribución */
    border-top: solid #444;
    border-bottom: solid #444;

    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 30px;
}
