body {
    /* colores */
    background-color: #f9f7f1;
    color: #404040;

    /* texto */
    font-family: 'Oswald', serif;
}

article {
    /* distribuci贸n */
    columns: 3;
    column-gap: 40px;
    column-rule: 2px outset #444;

    /* texto */
    font-size: 1em;
    line-height: 1.5em;
}

h1 {
    /* texto */
    font-size: 8em;
    font-weight: 700;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;

    /* distribuci贸n */
    margin-top: 0px;
    margin-bottom: 32px;
}

h2 {
    /* texto */
    font-size: 3em;
    line-height: 1em;
}

h3 {
    /* texto */
    font-size: 2.4em;
    line-height: 0.8em;
}

p {
    /* texto */
    text-align: justify;
    hyphens: auto;
    hyphenate-character: "\u2605";
}

blockquote {
    /* texto */
    font-size: 1.8em;
    line-height: 1.2em;

    /* distribuci贸n */
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
}

.time {
    /* texto */
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.6em;

    /* distribuci贸n */
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;

    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 30px;
}
